In [8]:
import pandas as pd

df = pd.read_csv("C:\\Users\\nicol\\Desktop\\financial_risk_assessment.csv")
#encabezados
print(df.columns)

#Tipo de cada encabezado
print(df.dtypes)

Index(['Age', 'Gender', 'Education Level', 'Marital Status', 'Income',
       'Credit Score', 'Loan Amount', 'Loan Purpose', 'Employment Status',
       'Years at Current Job', 'Payment History', 'Debt-to-Income Ratio',
       'Assets Value', 'Number of Dependents', 'City', 'State', 'Country',
       'Previous Defaults', 'Marital Status Change', 'Risk Rating'],
      dtype='object')
Age                        int64
Gender                    object
Education Level           object
Marital Status            object
Income                   float64
Credit Score             float64
Loan Amount              float64
Loan Purpose              object
Employment Status         object
Years at Current Job       int64
Payment History           object
Debt-to-Income Ratio     float64
Assets Value             float64
Number of Dependents     float64
City                      object
State                     object
Country                   object
Previous Defaults        float64
Marital Status Change      int64
Risk Rating               object
dtype: object

Age(intiger)= Representa la edad de la persona evaluada.  
Gender(object)= Representa el genero de la persona evaluada.  
Education Level(object)= Representa el nivel de educacion alcanzado por el evaluado.  
Marital Status(object)= Represetan el estado civil de la persona evaluada.  
Income(float)= Representa los ingresos anuales de la persona evaluada.  
Credit Score(float)= Representa el valor numérico que indica solvencia de la persona evaluada, que oscila entre 600 y 800.  
Loan Amount(float)= Representa si el evaluado tiene algun prestamo, indicando su monto.  
Loan Purpose(object)= Representa el motivo del prestamo.  
Employment Status(object)= Indica que si el esta empleoado, desempleao o independiente.  
Years at Current Job(intiger)= Representa la antiguedad de la persona en su trabajo.  
Payment History(object)= Representa el comportamiendo con los pagos de sus deudas.  
Debt-to-Income Ratio(float)= Relación deuda-ingresos, que indica apalancamiento financiero y riesgo.  
Assets Value(float64)= Valor de los activos del evaluado.  
Number of Dependents(float)= Cantidad de cargas por evaluado.  
City(object)= Ciudad de residencia del evaluado.  
State(object)= Indica el estado donde reside el evaluado.  
Country(object)= Indica el pais de residencia del evaluado.  
Previous Defaults=(float)= Cantidad de veces que que el evaluado a incumplido un prestamo.  
Marital Status Change(intiger)= Cantidad de veces que el evaluado a cambiado su estado civil.  
Risk Rating(object)= Clasifica el riesgo financiero en Bajo, Medio o Alto.

In [29]:
#Cantidad de filas por columnas vacias
Filas_con_columnas_vacias= df.isnull().sum()
print(Filas_con_columnas_vacias)

Age                         0
Gender                      0
Education Level             0
Marital Status              0
Income                   2250
Credit Score             2250
Loan Amount              2250
Loan Purpose                0
Employment Status           0
Years at Current Job        0
Payment History             0
Debt-to-Income Ratio        0
Assets Value             2250
Number of Dependents     2250
City                        0
State                       0
Country                     0
Previous Defaults        2250
Marital Status Change       0
Risk Rating                 0
dtype: int64

In [22]:

# Contar el número de datos por género
conteo_por_genero = df['Gender'].value_counts()
print(conteo_por_genero)

Edad_promedio_por_genero = df.groupby('Gender')['Age'].mean()
print("Edad promedio por genero")
print( Edad_promedio_por_genero)

Gender
Non-binary    5059
Female        4990
Male          4951
Name: count, dtype: int64
Edad promedio por genero
Gender
Female        43.610621
Male          43.334478
Non-binary    43.412532
Name: Age, dtype: float64

In [25]:
# Generar una tabla contando el tipo de riesgo por genero
riesgo_por_genero = df.groupby(['Gender', 'Risk Rating']).size().unstack(fill_value=0)

# Mostrar la tabla
print(riesgo_por_genero)

Risk Rating  High   Low  Medium
Gender
Female        518  2981    1491
Male          515  2921    1515
Non-binary    467  3098    1494

In [26]:
# Generar una tabla contando el tipo de riesgo por genero
riesgo_por_genero = df.groupby(['Gender', 'Education Level']).size().unstack(fill_value=0)
# Mostrar la tabla
print(riesgo_por_genero)

Education Level  Bachelor's  High School  Master's   PhD
Gender
Female                 1208         1303      1230  1249
Male                   1285         1234      1200  1232
Non-binary             1336         1237      1207  1279

In [27]:
# Generar una tabla contando tipo de empleo por educacion
Empleo_por_educacion = df.groupby(['Education Level', 'Employment Status']).size().unstack(fill_value=0)
# Mostrar la tabla
print(Empleo_por_educacion)

Employment Status  Employed  Self-employed  Unemployed
Education Level
Bachelor's             1300           1239        1290
High School            1238           1259        1277
Master's               1215           1232        1190
PhD                    1273           1261        1226

In [31]:
#Numero de paises
Paises=df['Country'].nunique()
#personas por pais
Personas_por_pais= df['Country'].value_counts()

print("Numero de paises=",Paises)
print("Persona por pais")
print(Personas_por_pais)

Numero de paises= 243
Persona por pais
Country
Congo                       124
Korea                       122
French Guiana                87
France                       79
Trinidad and Tobago          77
                           ...
Belgium                      47
Turks and Caicos Islands     47
Guernsey                     46
French Polynesia             45
Solomon Islands              43
Name: count, Length: 243, dtype: int64

In [37]:
#Filra las filas con valor riesgo alto
riesgo_alto= df[df['Risk Rating'] == 'High']
# Contar las personas por país con clasificación de riesgo alto
contar_personas_por_pais_riesgo_alto = riesgo_alto['Country'].value_counts().head(5)

# Vizualizacion
contar_alto_riesgo_df =contar_personas_por_pais_riesgo_alto.reset_index()
contar_alto_riesgo_df.columns = ['Country', 'cantidad de personas con riego alto']

print(contar_alto_riesgo_df)

                       Country  cantidad de personas con riego alto
0                        Chile                                   15
1  Falkland Islands (Malvinas)                                   15
2                     Bulgaria                                   13
3                  Philippines                                   13
4                    Hong Kong                                   12

In [38]:
#Tabla educacion por riesgo
tabla_educacion_por_riesgo= pd.crosstab(df['Education Level'], df['Risk Rating'])

print(tabla_educacion_por_riesgo)

Risk Rating      High   Low  Medium
Education Level
Bachelor's        369  2308    1152
High School       381  2246    1147
Master's          359  2213    1065
PhD               391  2233    1136