In [50]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("C:\\Users\\nicol\\Desktop\\financial_risk_assessment.csv")
#encabezados
print(df.shape)

#Tipo de cada encabezado
print(df.dtypes)

(15000, 20)
   Age      Gender Education Level Marital Status   Income  Credit Score  \
0   49        Male             PhD       Divorced  72799.0         688.0
1   57      Female      Bachelor's        Widowed      NaN         690.0
2   21  Non-binary        Master's         Single  55687.0         600.0
3   59        Male      Bachelor's         Single  26508.0         622.0
4   25  Non-binary      Bachelor's        Widowed  49427.0         766.0

   Loan Amount Loan Purpose Employment Status  Years at Current Job  \
0      45713.0     Business        Unemployed                    19
1      33835.0         Auto          Employed                     6
2      36623.0         Home          Employed                     8
3      26541.0     Personal        Unemployed                     2
4      36528.0     Personal        Unemployed                    10

  Payment History  Debt-to-Income Ratio  Assets Value  Number of Dependents  \
0            Poor              0.154313      120228.0                   0.0
1            Fair              0.148920       55849.0                   0.0
2            Fair              0.362398      180700.0                   3.0
3       Excellent              0.454964      157319.0                   3.0
4            Fair              0.143242      287140.0                   NaN

              City State       Country  Previous Defaults  \
0   Port Elizabeth    AS        Cyprus                2.0
1  North Catherine    OH  Turkmenistan                3.0
2      South Scott    OK    Luxembourg                3.0
3       Robinhaven    PR        Uganda                4.0
4      New Heather    IL       Namibia                3.0

   Marital Status Change Risk Rating
0                      2         Low
1                      2      Medium
2                      2      Medium
3                      2      Medium
4                      1         Low
Age                        int64
Gender                    object
Education Level           object
Marital Status            object
Income                   float64
Credit Score             float64
Loan Amount              float64
Loan Purpose              object
Employment Status         object
Years at Current Job       int64
Payment History           object
Debt-to-Income Ratio     float64
Assets Value             float64
Number of Dependents     float64
City                      object
State                     object
Country                   object
Previous Defaults        float64
Marital Status Change      int64
Risk Rating               object
dtype: object

Age(intiger)= Representa la edad de la persona evaluada.  
Gender(object)= Representa el genero de la persona evaluada.  
Education Level(object)= Representa el nivel de educacion alcanzado por el evaluado.  
Marital Status(object)= Represetan el estado civil de la persona evaluada.  
Income(float)= Representa los ingresos anuales de la persona evaluada.  
Credit Score(float)= Representa el valor numérico que indica solvencia de la persona evaluada, que oscila entre 600 y 800.  
Loan Amount(float)= Representa si el evaluado tiene algun prestamo, indicando su monto.  
Loan Purpose(object)= Representa el motivo del prestamo.  
Employment Status(object)= Indica que si el esta empleoado, desempleao o independiente.  
Years at Current Job(intiger)= Representa la antiguedad de la persona en su trabajo.  
Payment History(object)= Representa el comportamiendo con los pagos de sus deudas.  
Debt-to-Income Ratio(float)= Relación deuda-ingresos, que indica apalancamiento financiero y riesgo.  
Assets Value(float64)= Valor de los activos del evaluado.  
Number of Dependents(float)= Cantidad de cargas por evaluado.  
City(object)= Ciudad de residencia del evaluado.  
State(object)= Indica el estado donde reside el evaluado.  
Country(object)= Indica el pais de residencia del evaluado.  
Previous Defaults=(float)= Cantidad de veces que que el evaluado a incumplido un prestamo.  
Marital Status Change(intiger)= Cantidad de veces que el evaluado a cambiado su estado civil.  
Risk Rating(object)= Clasifica el riesgo financiero en Bajo, Medio o Alto.

In [52]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    15000 non-null  int64
 1   Gender                 15000 non-null  object
 2   Education Level        15000 non-null  object
 3   Marital Status         15000 non-null  object
 4   Income                 12750 non-null  float64
 5   Credit Score           12750 non-null  float64
 6   Loan Amount            12750 non-null  float64
 7   Loan Purpose           15000 non-null  object
 8   Employment Status      15000 non-null  object
 9   Years at Current Job   15000 non-null  int64
 10  Payment History        15000 non-null  object
 11  Debt-to-Income Ratio   15000 non-null  float64
 12  Assets Value           12750 non-null  float64
 13  Number of Dependents   12750 non-null  float64
 14  City                   15000 non-null  object
 15  State                  15000 non-null  object
 16  Country                15000 non-null  object
 17  Previous Defaults      12750 non-null  float64
 18  Marital Status Change  15000 non-null  int64
 19  Risk Rating            15000 non-null  object
dtypes: float64(7), int64(3), object(10)
memory usage: 2.3+ MB
None

In [29]:
#Cantidad de filas por columnas vacias
Filas_con_columnas_vacias= df.isnull().sum()
print(Filas_con_columnas_vacias)

Age                         0
Gender                      0
Education Level             0
Marital Status              0
Income                   2250
Credit Score             2250
Loan Amount              2250
Loan Purpose                0
Employment Status           0
Years at Current Job        0
Payment History             0
Debt-to-Income Ratio        0
Assets Value             2250
Number of Dependents     2250
City                        0
State                       0
Country                     0
Previous Defaults        2250
Marital Status Change       0
Risk Rating                 0
dtype: int64

In [55]:
total_filas = df.shape[0]

# Verificar si alguna columna tiene valores únicos
columna_con_identificador_unico= []

for column in df.columns:
    valor_unico = df[column].nunique()
    if valor_unico == total_filas:
        columna_con_identificador_unico.append(column)

# Mostrar las columnas con identificadores únicos, si existen
if columna_con_identificador_unico:
    print("Columnas con identificadores únicos:")
    for column in columna_con_identificador_unico:
        print(column)
else:
    print("No hay columnas con identificadores únicos.")

Columnas con identificadores únicos:
Debt-to-Income Ratio

Si bien existen columnas con idetificadores unicos, estas columnas son proporciones o suma de valores los cuales pueden variar por el tiempo por lo cual no existe una llave unica identificadora como lo puede ser un rut en esta base de datos, por lo cual solo para tener una data mas limpia se eliminaran columnas que no puedan tener relevancia

In [56]:
import pandas as pd

# Suponiendo que df es tu DataFrame
# total_filas = df.shape[0]  # No es necesario en esta versión

# Verificar si existen filas duplicadas
filas_duplicadas = df[df.duplicated(keep=False)]

# Mostrar las filas duplicadas, si existen
if not filas_duplicadas.empty:
    print("Filas duplicadas encontradas:")
    print(filas_duplicadas)
else:
    print("No hay filas duplicadas.")

No hay filas duplicadas.

In [57]:

# Contar el número de datos por género
conteo_por_genero = df['Gender'].value_counts()
print(conteo_por_genero)

Edad_promedio_por_genero = df.groupby('Gender')['Age'].mean()
print("Edad promedio por genero")
print( Edad_promedio_por_genero)

Gender
Non-binary    5059
Female        4990
Male          4951
Name: count, dtype: int64
Edad promedio por genero
Gender
Female        43.610621
Male          43.334478
Non-binary    43.412532
Name: Age, dtype: float64

In [58]:
# Generar una tabla contando el tipo de riesgo por genero
riesgo_por_genero = df.groupby(['Gender', 'Risk Rating']).size().unstack(fill_value=0)

# Mostrar la tabla
print(riesgo_por_genero)

Risk Rating  High   Low  Medium
Gender
Female        518  2981    1491
Male          515  2921    1515
Non-binary    467  3098    1494

In [59]:
# Generar una tabla contando el tipo de riesgo por genero
riesgo_por_genero = df.groupby(['Gender', 'Education Level']).size().unstack(fill_value=0)
# Mostrar la tabla
print(riesgo_por_genero)

Education Level  Bachelor's  High School  Master's   PhD
Gender
Female                 1208         1303      1230  1249
Male                   1285         1234      1200  1232
Non-binary             1336         1237      1207  1279

In [60]:
# Generar una tabla contando tipo de empleo por educacion
Empleo_por_educacion = df.groupby(['Education Level', 'Employment Status']).size().unstack(fill_value=0)
# Mostrar la tabla
print(Empleo_por_educacion)

Employment Status  Employed  Self-employed  Unemployed
Education Level
Bachelor's             1300           1239        1290
High School            1238           1259        1277
Master's               1215           1232        1190
PhD                    1273           1261        1226

In [61]:
#Numero de paises
Paises=df['Country'].nunique()
#personas por pais
Personas_por_pais= df['Country'].value_counts()

print("Numero de paises=",Paises)
print("Persona por pais")
print(Personas_por_pais)

Numero de paises= 243
Persona por pais
Country
Congo                       124
Korea                       122
French Guiana                87
France                       79
Trinidad and Tobago          77
                           ...
Belgium                      47
Turks and Caicos Islands     47
Guernsey                     46
French Polynesia             45
Solomon Islands              43
Name: count, Length: 243, dtype: int64

In [62]:
#Filra las filas con valor riesgo alto
riesgo_alto= df[df['Risk Rating'] == 'High']
# Contar las personas por país con clasificación de riesgo alto
contar_personas_por_pais_riesgo_alto = riesgo_alto['Country'].value_counts().head(5)

# Vizualizacion
contar_alto_riesgo_df =contar_personas_por_pais_riesgo_alto.reset_index()
contar_alto_riesgo_df.columns = ['Country', 'cantidad de personas con riego alto']

print(contar_alto_riesgo_df)

                       Country  cantidad de personas con riego alto
0                        Chile                                   15
1  Falkland Islands (Malvinas)                                   15
2                     Bulgaria                                   13
3                  Philippines                                   13
4                    Hong Kong                                   12

In [63]:
#Tabla educacion por riesgo
tabla_educacion_por_riesgo= pd.crosstab(df['Education Level'], df['Risk Rating'])

print(tabla_educacion_por_riesgo)

Risk Rating      High   Low  Medium
Education Level
Bachelor's        369  2308    1152
High School       381  2246    1147
Master's          359  2213    1065
PhD               391  2233    1136

In [64]:
# Intervalos de edad
intervalo = range(0, df['Age'].max() + 5, 5)
etiqueta = [f'{i}-{i+4}' for i in intervalo[:-1]]

# Agregar una columna de intervalos de edad al DataFrame
df['intervalopor edad'] = pd.cut(df['Age'], bins=intervalo, labels=etiqueta, right=False)

# Filtro por cada nivel de riesgo
rankingderiesgo_bajo = df[df['Risk Rating'] == 'Low']
rankingderiesgo_medio = df[df['Risk Rating'] == 'Medium']
rankingderiesgo_alto= df[df['Risk Rating'] == 'High']

# Contar por intervalo de edad para cada nivel de riesgo
contar_bajo_riesgo = rankingderiesgo_bajo['intervalopor edad'].value_counts().sort_index().reset_index()
contar_medio_riesgo = rankingderiesgo_medio['intervalopor edad'].value_counts().sort_index().reset_index()
contar_alto_riesgo = rankingderiesgo_alto['intervalopor edad'].value_counts().sort_index().reset_index()

# Renombrar las columnas
contar_bajo_riesgo.columns = ['intervalopor edad', 'cantidad de personas bajos riesgo']
contar_medio_riesgo.columns = ['intervalopor edad', 'cantidad de personas bajos riesgo']
contar_alto_riesgo.columns = ['intervalopor edad', 'cantidad de personas bajos riesgo']

# Mostrar las tablas
print("Tabla agrupada por edad bajo riesgo")
print(contar_bajo_riesgo)
print("Tabla agrupada por edad medio riesgo")
print(contar_medio_riesgo)
print("Tabla agrupada por edad alto riesgo")
print(contar_alto_riesgo)

Tabla agrupada por edad bajo riesgo
   intervalopor edad  cantidad de personas bajos riesgo
0                0-4                                  0
1                5-9                                  0
2              10-14                                  0
3              15-19                                336
4              20-24                                837
5              25-29                                844
6              30-34                                882
7              35-39                                894
8              40-44                                888
9              45-49                                868
10             50-54                                878
11             55-59                                847
12             60-64                                880
13             65-69                                846
Tabla agrupada por edad medio riesgo
   intervalopor edad  cantidad de personas bajos riesgo
0                0-4                                  0
1                5-9                                  0
2              10-14                                  0
3              15-19                                179
4              20-24                                419
5              25-29                                451
6              30-34                                463
7              35-39                                427
8              40-44                                449
9              45-49                                430
10             50-54                                434
11             55-59                                416
12             60-64                                395
13             65-69                                437
Tabla agrupada por edad alto riesgo
   intervalopor edad  cantidad de personas bajos riesgo
0                0-4                                  0
1                5-9                                  0
2              10-14                                  0
3              15-19                                 43
4              20-24                                143
5              25-29                                133
6              30-34                                171
7              35-39                                139
8              40-44                                153
9              45-49                                144
10             50-54                                135
11             55-59                                142
12             60-64                                161
13             65-69                                136